build
sdkconfig
sdkconfig.old
dependencies.lock
.env
.envrc
storage/home/*
!storage/home/.keep
!storage/home/dap_debug_sample.rb
storage/etc/*
!storage/etc/.keep
.vscode/*
.cache
managed_components/*
