build
build-qemu*
qemu-boot-*.log
sdkconfig
sdkconfig.old
dependencies.lock
.env
.envrc
storage/home/*
!storage/home/.keep
storage/etc/*
!storage/etc/.keep
.vscode/*
.cache
managed_components/*
.bundle-docker
.ccache
*.local.md
